{% load static %}
{% load bootstrap3 %}
<head>
  <title>Detail page</title>
  {% bootstrap_css %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/market_cap.js' %}"></script>

  <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet"/>
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link href="{% static 'css/screen.css' %}" rel="stylesheet"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.css"/>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.js"></script>
  <script type="text/javascript">

  $(document).ready(function()
  {
    $("tr:even").css("background-color", "#FFFFFF");
    // With JQuery
    token = $("#change_password-form").find('input[name=csrfmiddlewaretoken]').val()
    $("#ex6").slider();
    var form = document.getElementById('submit_form');
    $("#ex6").on("slideStop", {csrfmiddlewaretoken: token},function(slideEvt) {
      form.submit();
      $("#ex6SliderVal").text(slideEvt.value);
    });
  });
  </script>


  <div style="text-align: center;">
    <h1>{{token_title}}</h1>
    <button type="button" class="btn btn-lg btn-primary" onClick="javascript:history.go(-1);">Previous Page</button>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="cap_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div class="container">
      <h2> {{timestamp_s}} </h2>
      <form action="/coin/?id={{ coin_id }}/slide_to" method="post" id="submit_form">
        {% csrf_token %}
        <input style="width:1000px;" id="ex6" type="text" name='slider_value' data-slider-min="1" data-slider-max="{{max_timestamp}}"
        data-slider-step="1"
        data-slider-value="{{ current_timestamp }}"/>&emsp;
        <!-- <input type="hidden" name='coin_id' value="{{coin_id}}"></input> -->
        <span id="ex6SliderVal">{{ current_timestamp }}</span>
        <input type="submit"/>
      </form>



      <div class="row">
        <h1>Token Holder</h1>
        <div class="col-sm-10">
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead class="thead-inverse">
              <tr>
                <th>Rank</th>
                <th>Address</th>
                <th>Quantity</th>
              </tr>
            </thead>
            {% for rank,account,balance in top_holder_balance_arr %}
            <tbody>
              <tr>
                <th scope="row">{{ rank }}</th>
                <td>{{ account.account_address }}</td>
                <td>{{ balance }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="row">
      <h1>Token Tx</h1>
      <div class="col-sm-10">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead class="thead-inverse">
            <tr>
              <th>Rank</th>
              <th>Address</th>
              <th>Quantity</th>
              <th>Percantage</th>
            </tr>
          </thead>
          {% for rank,address,quantity,percantage in sort_by_quantity_transactions_arr %}
          <tbody>
            <tr>
              <th scope="row">{{ rank }}</th>
              <td>{{ address.account_address }}</td>
              <td>{{ quantity }}</td>
              <td>{{ percantage }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>
</div>
</body>
